*.iml
*.iws
.gradle/
.idea/
bin/
build/
src/save/
**/src/generated/
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/.vertx
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
**/out/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
.classpath
.project
test/system/groovy20/jars/*
web-app/WEB-INF/wurfl/*
prodDb.*
wrapper/*
lib/tools.jar
servers/webroot
servers/standalone/webroot
.vertx/
*.log.gz
trace.db/
*.orig
*.swp
